.cntry-flag {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 11px;
    background: url('../images/country-flags.png') no-repeat
}

.cntry-flag.cntry-flag-gu {
    background-position: -96px -55px
}

.cntry-flag.cntry-flag-mn {
    background-position: -208px -88px
}

.cntry-flag.cntry-flag-va {
    background-position: -48px -154px
}

.cntry-flag.cntry-flag-tibet {
    background-position: -32px -143px
}

.cntry-flag.cntry-flag-fo {
    background-position: -64px -44px
}

.cntry-flag.cntry-flag-th {
    background-position: -16px -143px
}

.cntry-flag.cntry-flag-tr {
    background-position: -144px -143px
}

.cntry-flag.cntry-flag-tl {
    background-position: -80px -143px
}

.cntry-flag.cntry-flag-kz {
    background-position: -144px -77px
}

.cntry-flag.cntry-flag-zm {
    background-position: -16px -165px
}

.cntry-flag.cntry-flag-uz {
    background-position: -32px -154px
}

.cntry-flag.cntry-flag-dk {
    background-position: -64px -33px
}

.cntry-flag.cntry-flag-scotland {
    background-position: -176px -121px
}

.cntry-flag.cntry-flag-gi {
    background-position: -224px -44px
}

.cntry-flag.cntry-flag-gy {
    background-position: -128px -55px
}

.cntry-flag.cntry-flag-bj {
    background-position: -112px -11px
}

.cntry-flag.cntry-flag-fr {
    background-position: -80px -44px
}

.cntry-flag.cntry-flag-mo {
    background-position: -224px -88px
}

.cntry-flag.cntry-flag-ir {
    background-position: -112px -66px
}

.cntry-flag.cntry-flag-io {
    background-position: -80px -66px
}

.cntry-flag.cntry-flag-tm {
    background-position: -96px -143px
}

.cntry-flag.cntry-flag-ch {
    background-position: -96px -22px
}

.cntry-flag.cntry-flag-mt {
    background-position: -32px -99px
}

.cntry-flag.cntry-flag-nl {
    background-position: -240px -99px
}

.cntry-flag.cntry-flag-gp {
    background-position: -16px -55px
}

.cntry-flag.cntry-flag-im {
    background-position: -48px -66px
}

.cntry-flag.cntry-flag-tv {
    background-position: -176px -143px
}

.cntry-flag.cntry-flag-mu {
    background-position: -48px -99px
}

.cntry-flag.cntry-flag-pe {
    background-position: -96px -110px
}

.cntry-flag.cntry-flag-vi {
    background-position: -112px -154px
}

.cntry-flag.cntry-flag-hn {
    background-position: -176px -55px
}

.cntry-flag.cntry-flag-ss {
    background-position: -128px -132px
}

.cntry-flag.cntry-flag-ae {
    background-position: -16px 0
}

.cntry-flag.cntry-flag-td {
    background-position: -240px -132px
}

.cntry-flag.cntry-flag-pw {
    background-position: 0 -121px
}

.cntry-flag.cntry-flag-nu {
    background-position: -32px -110px
}

.cntry-flag.cntry-flag-bt {
    background-position: -208px -11px
}

.cntry-flag.cntry-flag-ms {
    background-position: -16px -99px
}

.cntry-flag.cntry-flag-cv {
    background-position: -240px -22px
}

.cntry-flag.cntry-flag-es {
    background-position: -224px -33px
}

.cntry-flag.cntry-flag-mh {
    background-position: -144px -88px
}

.cntry-flag.cntry-flag-la {
    background-position: -160px -77px
}

.cntry-flag.cntry-flag-vn {
    background-position: -128px -154px
}

.cntry-flag.cntry-flag-py {
    background-position: -16px -121px
}

.cntry-flag.cntry-flag-br {
    background-position: -176px -11px
}

.cntry-flag.cntry-flag-ye {
    background-position: -224px -154px
}

.cntry-flag.cntry-flag-ie {
    background-position: 0 -66px
}

.cntry-flag.cntry-flag-gh {
    background-position: -208px -44px
}

.cntry-flag.cntry-flag-cg {
    background-position: -80px -22px
}

.cntry-flag.cntry-flag-cu {
    background-position: -224px -22px
}

.cntry-flag.cntry-flag-hu {
    background-position: -224px -55px
}

.cntry-flag.cntry-flag-sg {
    background-position: -224px -121px
}

.cntry-flag.cntry-flag-at {
    background-position: -176px 0
}

.cntry-flag.cntry-flag-lk {
    background-position: -224px -77px
}

.cntry-flag.cntry-flag-vu {
    background-position: -144px -154px
}

.cntry-flag.cntry-flag-bo {
    background-position: -160px -11px
}

.cntry-flag.cntry-flag-jo {
    background-position: -208px -66px
}

.cntry-flag.cntry-flag-er {
    background-position: -208px -33px
}

.cntry-flag.cntry-flag-za {
    background-position: -256px -154px
}

.cntry-flag.cntry-flag-rs {
    background-position: -80px -121px
}

.cntry-flag.cntry-flag-nr {
    background-position: -16px -110px
}

.cntry-flag.cntry-flag-ls {
    background-position: -256px -77px
}

.cntry-flag.cntry-flag-jm {
    background-position: -192px -66px
}

.cntry-flag.cntry-flag-tz {
    background-position: -208px -143px
}

.cntry-flag.cntry-flag-ki {
    background-position: -16px -77px
}

.cntry-flag.cntry-flag-sj {
    background-position: 0 -132px
}

.cntry-flag.cntry-flag-cz {
    background-position: -16px -33px
}

.cntry-flag.cntry-flag-pg {
    background-position: -128px -110px
}

.cntry-flag.cntry-flag-lv {
    background-position: -32px -88px
}

.cntry-flag.cntry-flag-do {
    background-position: -96px -33px
}

.cntry-flag.cntry-flag-lu {
    background-position: -16px -88px
}

.cntry-flag.cntry-flag-no {
    background-position: -256px -99px
}

.cntry-flag.cntry-flag-kw {
    background-position: -112px -77px
}

.cntry-flag.cntry-flag-mx {
    background-position: -96px -99px
}

.cntry-flag.cntry-flag-yt {
    background-position: -240px -154px
}

.cntry-flag.cntry-flag-ly {
    background-position: -48px -88px
}

.cntry-flag.cntry-flag-cy {
    background-position: 0 -33px
}

.cntry-flag.cntry-flag-ph {
    background-position: -144px -110px
}

.cntry-flag.cntry-flag-my {
    background-position: -112px -99px
}

.cntry-flag.cntry-flag-sm {
    background-position: -48px -132px
}

.cntry-flag.cntry-flag-et {
    background-position: -240px -33px
}

.cntry-flag.cntry-flag-ru {
    background-position: -96px -121px
}

.cntry-flag.cntry-flag-tj {
    background-position: -48px -143px
}

.cntry-flag.cntry-flag-ai {
    background-position: -64px 0
}

.cntry-flag.cntry-flag-pl {
    background-position: -176px -110px
}

.cntry-flag.cntry-flag-kp {
    background-position: -64px -77px
}

.cntry-flag.cntry-flag-uy {
    background-position: -16px -154px
}

.cntry-flag.cntry-flag-gb {
    background-position: -112px -44px
}

.cntry-flag.cntry-flag-gs {
    background-position: -64px -55px
}

.cntry-flag.cntry-flag-kurdistan {
    background-position: -96px -77px
}

.cntry-flag.cntry-flag-rw {
    background-position: -112px -121px
}

.cntry-flag.cntry-flag-ec {
    background-position: -128px -33px
}

.cntry-flag.cntry-flag-mm {
    background-position: -192px -88px
}

.cntry-flag.cntry-flag-pa {
    background-position: -80px -110px
}

.cntry-flag.cntry-flag-wales {
    background-position: -160px -154px
}

.cntry-flag.cntry-flag-kg {
    background-position: -256px -66px
}

.cntry-flag.cntry-flag-ve {
    background-position: -80px -154px
}

.cntry-flag.cntry-flag-tk {
    background-position: -64px -143px
}

.cntry-flag.cntry-flag-ca {
    background-position: -16px -22px
}

.cntry-flag.cntry-flag-is {
    background-position: -128px -66px
}

.cntry-flag.cntry-flag-ke {
    background-position: -240px -66px
}

.cntry-flag.cntry-flag-ro {
    background-position: -64px -121px
}

.cntry-flag.cntry-flag-gq {
    background-position: -32px -55px
}

.cntry-flag.cntry-flag-pt {
    background-position: -256px -110px
}

.cntry-flag.cntry-flag-tf {
    background-position: -256px -132px
}

.cntry-flag.cntry-flag-ad {
    background-position: 0 0
}

.cntry-flag.cntry-flag-sk {
    background-position: -16px -132px
}

.cntry-flag.cntry-flag-pm {
    background-position: -192px -110px
}

.cntry-flag.cntry-flag-om {
    background-position: -64px -110px
}

.cntry-flag.cntry-flag-an {
    background-position: -112px 0
}

.cntry-flag.cntry-flag-ws {
    background-position: -192px -154px
}

.cntry-flag.cntry-flag-sh {
    background-position: -240px -121px
}

.cntry-flag.cntry-flag-mp {
    background-position: -240px -88px
}

.cntry-flag.cntry-flag-gt {
    background-position: -80px -55px
}

.cntry-flag.cntry-flag-cf {
    background-position: -64px -22px
}

.cntry-flag.cntry-flag-zanzibar {
    background-position: 0 -165px
}

.cntry-flag.cntry-flag-mw {
    background-position: -80px -99px
}

.cntry-flag.cntry-flag-catalonia {
    background-position: -32px -22px
}

.cntry-flag.cntry-flag-ug {
    background-position: -240px -143px
}

.cntry-flag.cntry-flag-je {
    background-position: -176px -66px
}

.cntry-flag.cntry-flag-km {
    background-position: -32px -77px
}

.cntry-flag.cntry-flag-in {
    background-position: -64px -66px
}

.cntry-flag.cntry-flag-bf {
    background-position: -48px -11px
}

.cntry-flag.cntry-flag-mc {
    background-position: -80px -88px
}

.cntry-flag.cntry-flag-sy {
    background-position: -192px -132px
}

.cntry-flag.cntry-flag-sn {
    background-position: -64px -132px
}

.cntry-flag.cntry-flag-kr {
    background-position: -80px -77px
}

.cntry-flag.cntry-flag-eu {
    background-position: -256px -33px
}

.cntry-flag.cntry-flag-bn {
    background-position: -144px -11px
}

.cntry-flag.cntry-flag-st {
    background-position: -144px -132px
}

.cntry-flag.cntry-flag-england {
    background-position: -192px -33px
}

.cntry-flag.cntry-flag-lc {
    background-position: -192px -77px
}

.cntry-flag.cntry-flag-dm {
    background-position: -80px -33px
}

.cntry-flag.cntry-flag-be {
    background-position: -32px -11px
}

.cntry-flag.cntry-flag-ni {
    background-position: -224px -99px
}

.cntry-flag.cntry-flag-ua {
    background-position: -224px -143px
}

.cntry-flag.cntry-flag-mz {
    background-position: -128px -99px
}

.cntry-flag.cntry-flag-pf {
    background-position: -112px -110px
}

.cntry-flag.cntry-flag-tn {
    background-position: -112px -143px
}

.cntry-flag.cntry-flag-ee {
    background-position: -144px -33px
}

.cntry-flag.cntry-flag-xk {
    background-position: -208px -154px
}

.cntry-flag.cntry-flag-sx {
    background-position: -176px -132px
}

.cntry-flag.cntry-flag-sd {
    background-position: -192px -121px
}

.cntry-flag.cntry-flag-gd {
    background-position: -128px -44px
}

.cntry-flag.cntry-flag-ci {
    background-position: -112px -22px
}

.cntry-flag.cntry-flag-sz {
    background-position: -208px -132px
}

.cntry-flag.cntry-flag-cl {
    background-position: -144px -22px
}

.cntry-flag.cntry-flag-fi {
    background-position: 0 -44px
}

.cntry-flag.cntry-flag-ga {
    background-position: -96px -44px
}

.cntry-flag.cntry-flag-jp {
    background-position: -224px -66px
}

.cntry-flag.cntry-flag-de {
    background-position: -32px -33px
}

.cntry-flag.cntry-flag-np {
    background-position: 0 -110px
}

.cntry-flag.cntry-flag-re {
    background-position: -48px -121px
}

.cntry-flag.cntry-flag-bg {
    background-position: -64px -11px
}

.cntry-flag.cntry-flag-sc {
    background-position: -160px -121px
}

.cntry-flag.cntry-flag-ng {
    background-position: -208px -99px
}

.cntry-flag.cntry-flag-qa {
    background-position: -32px -121px
}

.cntry-flag.cntry-flag-mk {
    background-position: -160px -88px
}

.cntry-flag.cntry-flag-aw {
    background-position: -208px 0
}

.cntry-flag.cntry-flag-kn {
    background-position: -48px -77px
}

.cntry-flag.cntry-flag-al {
    background-position: -80px 0
}

.cntry-flag.cntry-flag-bw {
    background-position: -240px -11px
}

.cntry-flag.cntry-flag-um {
    background-position: -256px -143px
}

.cntry-flag.cntry-flag-ky {
    background-position: -128px -77px
}

.cntry-flag.cntry-flag-tt {
    background-position: -160px -143px
}

.cntry-flag.cntry-flag-so {
    background-position: -80px -132px
}

.cntry-flag.cntry-flag-lt {
    background-position: 0 -88px
}

.cntry-flag.cntry-flag-by {
    background-position: -256px -11px
}

.cntry-flag.cntry-flag-bb {
    background-position: 0 -11px
}

.cntry-flag.cntry-flag-us {
    background-position: 0 -154px
}

.cntry-flag.cntry-flag-md {
    background-position: -96px -88px
}

.cntry-flag.cntry-flag-ag {
    background-position: -48px 0
}

.cntry-flag.cntry-flag-hm {
    background-position: -160px -55px
}

.cntry-flag.cntry-flag-as {
    background-position: -160px 0
}

.cntry-flag.cntry-flag-eg {
    background-position: -160px -33px
}

.cntry-flag.cntry-flag-sv {
    background-position: -160px -132px
}

.cntry-flag.cntry-flag-sl {
    background-position: -32px -132px
}

.cntry-flag.cntry-flag-fk {
    background-position: -32px -44px
}

.cntry-flag.cntry-flag-am {
    background-position: -96px 0
}

.cntry-flag.cntry-flag-ck {
    background-position: -128px -22px
}

.cntry-flag.cntry-flag-tw {
    background-position: -192px -143px
}

.cntry-flag.cntry-flag-kh {
    background-position: 0 -77px
}

.cntry-flag.cntry-flag-to {
    background-position: -128px -143px
}

.cntry-flag.cntry-flag-se {
    background-position: -208px -121px
}

.cntry-flag.cntry-flag-cd {
    background-position: -48px -22px
}

.cntry-flag.cntry-flag-pn {
    background-position: -208px -110px
}

.cntry-flag.cntry-flag-gr {
    background-position: -48px -55px
}

.cntry-flag.cntry-flag-id {
    background-position: -256px -55px
}

.cntry-flag.cntry-flag-vc {
    background-position: -64px -154px
}

.cntry-flag.cntry-flag-somaliland {
    background-position: -96px -132px
}

.cntry-flag.cntry-flag-bi {
    background-position: -96px -11px
}

.cntry-flag.cntry-flag-pk {
    background-position: -160px -110px
}

.cntry-flag.cntry-flag-pr {
    background-position: -224px -110px
}

.cntry-flag.cntry-flag-bd {
    background-position: -16px -11px
}

.cntry-flag.cntry-flag-co {
    background-position: -192px -22px
}

.cntry-flag.cntry-flag-fm {
    background-position: -48px -44px
}

.cntry-flag.cntry-flag-bm {
    background-position: -128px -11px
}

.cntry-flag.cntry-flag-ar {
    background-position: -144px 0
}

.cntry-flag.cntry-flag-bv {
    background-position: -224px -11px
}

.cntry-flag.cntry-flag-sb {
    background-position: -144px -121px
}

.cntry-flag.cntry-flag-mq {
    background-position: -256px -88px
}

.cntry-flag.cntry-flag-eh {
    background-position: -176px -33px
}

.cntry-flag.cntry-flag-bh {
    background-position: -80px -11px
}

.cntry-flag.cntry-flag-it {
    background-position: -144px -66px
}

.cntry-flag.cntry-flag-hr {
    background-position: -192px -55px
}

.cntry-flag.cntry-flag-sa {
    background-position: -128px -121px
}

.cntry-flag.cntry-flag-mv {
    background-position: -64px -99px
}

.cntry-flag.cntry-flag-mg {
    background-position: -128px -88px
}

.cntry-flag.cntry-flag-dz {
    background-position: -112px -33px
}

.cntry-flag.cntry-flag-gg {
    background-position: -192px -44px
}

.cntry-flag.cntry-flag-gm {
    background-position: -256px -44px
}

.cntry-flag.cntry-flag-af {
    background-position: -32px 0
}

.cntry-flag.cntry-flag-li {
    background-position: -208px -77px
}

.cntry-flag.cntry-flag-sr {
    background-position: -112px -132px
}

.cntry-flag.cntry-flag-vg {
    background-position: -96px -154px
}

.cntry-flag.cntry-flag-cr {
    background-position: -208px -22px
}

.cntry-flag.cntry-flag-tc {
    background-position: -224px -132px
}

.cntry-flag.cntry-flag-ao {
    background-position: -128px 0
}

.cntry-flag.cntry-flag-ma {
    background-position: -64px -88px
}

.cntry-flag.cntry-flag-mr {
    background-position: 0 -99px
}

.cntry-flag.cntry-flag-gn {
    background-position: 0 -55px
}

.cntry-flag.cntry-flag-ne {
    background-position: -176px -99px
}

.cntry-flag.cntry-flag-nf {
    background-position: -192px -99px
}

.cntry-flag.cntry-flag-wf {
    background-position: -176px -154px
}

.cntry-flag.cntry-flag-hk {
    background-position: -144px -55px
}

.cntry-flag.cntry-flag-gf {
    background-position: -160px -44px
}

.cntry-flag.cntry-flag-ps {
    background-position: -240px -110px
}

.cntry-flag.cntry-flag-ic {
    background-position: -240px -55px
}

.cntry-flag.cntry-flag-cw {
    background-position: -256px -22px
}

.cntry-flag.cntry-flag-ml {
    background-position: -176px -88px
}

.cntry-flag.cntry-flag-ax {
    background-position: -224px 0
}

.cntry-flag.cntry-flag-gl {
    background-position: -240px -44px
}

.cntry-flag.cntry-flag-dj {
    background-position: -48px -33px
}

.cntry-flag.cntry-flag-cn {
    background-position: -176px -22px
}

.cntry-flag.cntry-flag-ht {
    background-position: -208px -55px
}

.cntry-flag.cntry-flag-lr {
    background-position: -240px -77px
}

.cntry-flag.cntry-flag-tg {
    background-position: 0 -143px
}

.cntry-flag.cntry-flag-ba {
    background-position: -256px 0
}

.cntry-flag.cntry-flag-ge {
    background-position: -144px -44px
}

.cntry-flag.cntry-flag-bz {
    background-position: 0 -22px
}

.cntry-flag.cntry-flag-au {
    background-position: -192px 0
}

.cntry-flag.cntry-flag-iq {
    background-position: -96px -66px
}

.cntry-flag.cntry-flag-cm {
    background-position: -160px -22px
}

.cntry-flag.cntry-flag-gw {
    background-position: -112px -55px
}

.cntry-flag.cntry-flag-az {
    background-position: -240px 0
}

.cntry-flag.cntry-flag-na {
    background-position: -144px -99px
}

.cntry-flag.cntry-flag-fj {
    background-position: -16px -44px
}

.cntry-flag.cntry-flag-zw {
    background-position: -32px -165px
}

.cntry-flag.cntry-flag-bs {
    background-position: -192px -11px
}

.cntry-flag.cntry-flag-il {
    background-position: -16px -66px
}

.cntry-flag.cntry-flag-nz {
    background-position: -48px -110px
}

.cntry-flag.cntry-flag-me {
    background-position: -112px -88px
}

.cntry-flag.cntry-flag-si {
    background-position: -256px -121px
}

.cntry-flag.cntry-flag-nc {
    background-position: -160px -99px
}

.cntry-flag.cntry-flag-lb {
    background-position: -176px -77px
}