/* ---- Header ---- */
.topheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 1px 8px rgb(188 185 185);
}
.logo-sec {
  display: flex;
  align-items: center;
}
.logo-sec .logo {
  display: inline-block;
}
.logo > img {
  width: 180px;
}
.navbar {
  padding: 0;
}
.navbar-nav {
  flex-direction: row;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  padding: 20px 30px;
  color: var(--content-color);
  font-weight: 400;
  border-top: solid #fff 4px;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
/*  background: var(--fb-color-sec);*/
  border-color: #660099;
}
.navbar-expand-lg .navbar-nav .nav-link:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    border-width: 5px;
    border-color: var(--fb-color-prim) transparent transparent transparent;
    border-style: solid;
    transform: translateX(-50%);
    opacity:0;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:after{
    transition: all .5s ease;
    opacity:1;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  /* background: #660099;
    color: #fff; */
  border-color: #660099;
}

.navbar-expand-lg .navbar-nav .nav-link.active:after{
  opacity:1;
}
.nav button{
  text-align: left;
}
.dropdown-item {
  font-size: 14px;
  color: var(--content-color);
  padding: 0.5rem 1rem;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--white);
  background-color: var(--fb-color-prim);
}

.menu-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 45px;
  height: 40px;
  background-color: transparent;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  transform: translateY(-50%);
}

.btn-line1,
.btn-line2,
.btn-line3 {
  width: 100%;
  height: 2px;
  background-color: rgb(27, 39, 51);
  margin-bottom: 5px;
  transition: all 0.3s ease;
}
.menu-btn.active-close-btn .btn-line1 {
  transform: translate(2px, 11px) rotate(45deg);
}
.menu-btn.active-close-btn .btn-line3 {
  transform: translate(2px, -5px) rotate(-45deg);
}
.menu-btn.active-close-btn .btn-line2 {
  opacity: 0;
}
.header-menu-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100vh;
  overflow: hidden;
  z-index: 99;
  transition: all 0s ease;
  transition-delay: 0.5s;
}
.menu-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease;
  transition-delay: 0.2s;
  z-index: -1;
  opacity: 0;
}
.navbar-mb {
  width: 75%;
  height: 100vh;
  background-color: var(--white);
  padding: 80px 15px 10px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  transition-delay: 0s;
}
.header-menu-mb.active-nav-mb {
  width: 100%;
  transition-delay: 0s;
}
.header-menu-mb.active-nav-mb .menu-bg {
  opacity: 1;
  transition-delay: 0.2s;
}
.header-menu-mb.active-nav-mb .navbar-mb {
  transform: translateX(0%);
  transition: all 0.5s ease;
  transition-delay: 0.2s;
}
.header-menu-mb .nav-link {
  position: relative;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  padding: 10px 10px;
  color: var(--content-color);
  font-weight: 400;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header-menu-mb .nav-link i {
  position: absolute;
  right: 0;
}
.dropdown-menu-mb {
  display: none;
  background-color: var(--fb-color-prim);
}
.dropdown-menu-mb .dropdown-item {
  color: var(--fb-color-sec);
}

/* ----- Banner section ----- */
.banner-sec {
  position: relative;
  margin-top: 54px;
  background-color: #660099;
}
.about-bnr-cont h1 {
  font-size: 45px;
  line-height: 48px;
}
.banner-sub-navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fb-color-prim);
  padding: 10px 15px;
}
.bnr-sub-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bnr-sub-list li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 2px 15px;
  opacity: 0.8;
  font-weight: 400;
}
.bnr-sub-list li a.active {
  opacity: 1;
}
.bnr-sub-list li:first-child a {
  border-right: solid 1px #fff;
}


.dark {
  background-color: #000;
}

.dark .section-title-2 h2 {
  color: #fff;
}
/* --- Our Alumnis ---- */
.clients {
  overflow: hidden;
}
.clients .client {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* border: solid 1px rgb(220, 224, 229); */
  padding: 24px 22px;
  text-align: center;
  margin: -1px -1px 0 0;
  position: relative;
  /* border: solid 1px #1d1d1d; */
  padding: 20px 20px;
  text-align: center;
  margin: -1px -1px 0 0;
  position: relative;
  height: auto;
}
.clients .client:last-child:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -100vw;
  height: 1px;
  width: 999em;
  /* background: #000; */
}
.clients .client img {
  transition: all 0.2s;
  cursor: pointer;
}
.clients .client.highlight-1 img,
.clients .client.highlight-2 img,
.clients .client.highlight-3 img,
.clients .client.highlight-4 img,
.clients .client:hover img {
  filter: saturate(1);
  transform: scale(1.1);
}


.banner-sec{
    background-color: #660099;
}
/*  ---- Footer section --- */
.ft-links {
  margin-bottom: 20px;
}
.ft-links h4{
  color: #fff;
  margin-bottom: 30px;
}
.ft-links p,
.ft-links p a{
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
.ft-logo {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
}
.ft-logo > img {
  width: 150px;
}
.ft-copyright p {
  font-size: 16px;
  color: var(--white);
  margin: 0;
}
.social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: var(--fb-color-prim);
  background-color: var(--bg-gray);
  margin-right: 8px;
}
.social-links a:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.social-links a.twitter {
  background-color: var(--twitter);
  color: var(--white);
}
.social-links a.facebook {
  background-color: var(--facebook);
  color: var(--white);
}
.social-links a.instagram {
  background-color: var(--insta);
  color: var(--white);
}
.social-links a.linkedin {
  background-color: var(--linkedin);
  color: var(--white);
}

.ft-nav-section{
  background-color: var(--fb-color-prim);
}
.ft-nav{
  list-style: none;
}
.ft-nav li{
  margin-bottom: 15px;
}
.ft-nav li a{
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
  transition: all 0.5s ease;
}
.ft-nav li a:hover{
  opacity: 0.6;
}
/* --- Teams --- */
.items-box-wrapper {
  border-radius: 8px;
  transition: all 0.3s;
  position: relative;
  padding-top: 20px;
  background-color: transparent;
  border: solid 1px #ebebeb;
  border-radius: 0;
}
.items-box-wrapper:hover {
  box-shadow: #e7e6e6 -40px -40px 80px, #e7e6e6 20px 20px 80px;
  transform: scale(1.1);
  z-index: 10;
  background-color: #fff;
}
.items-box {
  text-align: center;
  margin-bottom: 50px;
}
.items-box img {
    max-width: 210px;
    filter: grayscale(1);
    transition: all 0.2s;
}
.items-box img:hover {
    filter: grayscale(0) !important;
    transform: scale(1.1);
    border-radius: 10px !important;
} 
.items-box div {
  margin: 20px 0px 30px;
}
.items-box h4 {
  margin-top: 10px;
  margin-bottom: 0;
}
.items-box i {
  font-size: 40px;
}
.items-box p {
  font-size: 14px;
  line-height: 24px;
}
.img-small {
  width: 60px !important;
}

/* ----- Achievement --- */
.achievement-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.achievement-container:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 62px;
  width: 1px;
  height: 100%;
  background-color: #637282;
  transform: translate(-50%, 0);
}
.achimnt-box {
  position: relative;
   /* display: flex;
    align-items: center;*/
    width: 50%;
    margin: 0 auto;
    padding: 0 60px;
    z-index: 1;
}


.achimnt-box .achimnt-txt {
    position: relative;
    padding: 20px 25px 20px 75px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 25px rgb(173 187 201 / 48%);
    width: 100%;
    min-height:120px;
    flex-basis: auto;
    margin-bottom: 70px;
}

.achimnt-txt h6 {
  font-size: 18px;
  font-weight: 700;
  color: var(--head-color);
  margin-bottom: 0;
  line-height: 28px;
}
.achimnt-txt p {
  font-size: 14px;
  line-height: 20px;
}
.achimnt-txt:after {
  content: "";
  position: absolute;
  top: 60px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 4px #637282;
  background-color: #fff;
  z-index: 1;
  transform: translateX(-50%);
}
.achimnt-txt:before{
  content: "";
  position: absolute;
  top: 68px;
  width: 140px;
  height: 2px;
  border: dashed 2px #637282;
  z-index: -1;
}
.ach-txt-rt:after {
  left: -15.5%;
}
.ach-txt-lt:after {
  right: -20%;
}
.ach-txt-rt:before {
  left: -60px;
}
.ach-txt-lt:before {
  right: -60px;
}
/*.achimnt-box:first-child .achimnt-txt {
  padding: 0px 35px 30px;
}*/

/*.achimnt-box:first-child .achimnt-txt:after {
  top: 5px;
}*/
.achimnt-txt img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}
.ach-icons{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: var(--fb-color-prim);
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
.ach-rt img {
  transform: translateX(2px);
}
.ach-lt img {
  transform: translateX(-2px);
}
.no-icon:after {
  top: 18px !important;
}

/* ==== Our value ===*/
.items-box-value{
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 74px;
    margin-bottom: 50px;
}
.item-bx-img{
    position: absolute;
    left: 0;
    top: 50%;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px #ccc;
    border-radius: 50%;
   background-color: #660099;
    border: solid 8px #761aa3;
    transform: translateY(-50%);
}
.item-bx-img img{
    width: 140px;
    height: auto;
    display: block;
    border-radius: 50%;
    filter: grayscale(1);
}
.item-val-content{
    display:flex;
    align-items: center;
    min-height: 200px;
    /* background-color: #660099; */
    background-color: #fff;
    border-radius: 25px;
    padding: 15px 10px 15px 100px;
    /*margin-bottom: 40px;*/
    flex-grow: 1;
    box-shadow: 0px 6px 25px rgb(173 187 201 / 48%);
}
.val-txt h4{
    /* color: #fff; */
    margin-bottom: 10px;
}
.val-txt p{
  /* color: #fff; */
    font-size: 14px;
    line-height: 18px;
}

/* ---- Join Us --- */
.join-us {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--fb-color-prim);
  background-image: linear-gradient(to right, #670099, #bc4bf3);
}
.join-us h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 18px;
  margin-bottom: 18px;
}
.join-us p {
  font-size: 14px;
  line-height: 18px;
}

/* -- // Sub banner section // -- */
.sub_banner {
  padding: 120px 0px 40px;
  /* background: url("../images/contact-us.jpg") no-repeat center; */
  background: #660099;
  background-size: cover;
  background-position: center;
}
.sub_banner .sub_bnr_header ul.bread_crumb li {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  padding: 0px 10px;
  position: relative;
  font-weight: 400;
}
.sub_banner .sub_bnr_header ul.bread_crumb li:first-child {
  padding-left: 0px;
}
.sub_banner .sub_bnr_header ul.bread_crumb li:after {
  content: "";
  position: absolute;
  left: -1px;
  top: 1px;
  width: 2px;
  height: 13px;
  transform: rotate(20deg);
  background: #fff;
}
.sub_banner .sub_bnr_header ul.bread_crumb li:first-child:after {
  display: none;
}
.sub_banner .sub_bnr_header ul.bread_crumb li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
.sub_banner .sub_bnr_header ul.bread_crumb li a:hover {
  color: #ff5903;
}
.sub_bnr_header h1 {
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 1.3px;
}

/* -- // Contact section // -- */
.contact_map {
}
.contact_info_adds {
  position: relative;
  align-items: center;
  /* border: solid 1px #ccc; */
  padding: 0;
  /* margin-top: 60px; */
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact_info_adds .contact_addrs {
  background: #fff;
  /*padding: 40px;*/
  padding-bottom: 40px;
}
.contact_title {
}
.contact_title h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact_title p {
  font-size: 16px;
  padding-top: 5px;
  color: #1b2733;
  text-transform: uppercase;
}
.info_bdr {
  width: 45px;
  height: 2px;
  background: #ff5903;
  margin: 20px 0px;
}
.adrs_cont {
}
.adrs_cont p {
  position: relative;
  padding-left: 20px;
}
.adrs_cont p i {
  position: absolute;
  left: 0px;
  top: 5px;
  font-size: 20px;
}
.cont_network p {
}
.cont_network p span.cont_name {
  font-weight: normal;
  color: #898989;
  text-transform: uppercase;
  font-size: 14px;
}
.cont_network p span {
  display: inline-block;
  width: 40%;
}
.cont_network_icon{
  color: #898989;
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
}

.contact_location{
  text-align: center;
}
.contact_location ul li{
  text-decoration: none;
  display: inline-block;
}
.contact_location ul li a{
  /*background-color: #670099;*/
  padding: 10px 10px;
  color: #898989;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 16px;
}
.contact_location ul li a:hover{
  color: #670099;
}

.contact_forms_field {
  width: 60%;
  margin: 0 auto;
}
.forms_sect .form-group .form-control {
  border: 0px;
  border-bottom: solid 1px #ddd;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
.forms_sect .form-group .form-control:focus {
  border: 0px;
  border-bottom: solid 1px #ff5903;
  outline: 1px #ff5903;
}
.forms_sect .form-group textarea.form-control {
  height: 100px;
  resize: vertical;
}
.form_submit {
  text-align: center;
}
.form_submit .form_btn {
  margin: 0 auto;
  border-radius: 0px;
  /*background: #131a2f;*/
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.form_submit .form_btn:focus {
  outline: 0px;
}
/*.form_submit .form_btn:hover{
    background: #FF5903;
    color: #fff;
}*/

.card-type-1 {
  border: solid 1px #660099;
  box-shadow: #edecec 0px 15px 17px 0px;
  transition: all 0.2s;
  position: relative;
}
.card-type-1:hover {
  transform: scale(1.1);
  z-index: 10;
}
.card-type-1 .card-header {
  background-color: #660099;
}
.card-type-1 .card-header .card-title {
  color: #fff;
}
.card-type-1 .card-title {
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0;
}
.card-type-1 td,
.card-type-1 th {
  padding: 26px;
  line-height: 20px;
  min-width: 224px;
}
.card-type-1 td p {
    min-height: 75px;
    margin-bottom: 0;
}
.read-dots{
  font-size: 14px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}
.read-dots:hover{
  color: #333;
}
.card-type-2 {
  border: none;
  box-shadow: #edecec 0px 15px 17px 0px;
  transition: all 0.2s;
  position: relative;
  margin: 4rem 0 2rem;
}
.card-type-2:hover {
  transform: scale(1.1);
  z-index: 10;
}
.card-type-2 .card-header {
  background-color: #fff79a;
  padding: 0;
}
.card-type-2 .card-header h2 {
  position: relative;
  margin: 0;
  padding: 10px 0 10px 15px;
  font-size: 22px;
  line-height: 40px;
  font-weight: 600;
}
.card-type-2 .card-header img {
  width: 100px;
  border-radius: 50% 50%;
  position: absolute;
  right: 20px;
  bottom: 0;
  border: solid 5px #fff79a;
}
.card-type-2 .card-header .card-title {
  color: #fff;
}
.card-type-2 .card-body .arrow-seperator {
  background: url(../images/arrow.png) no-repeat bottom left;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
.card-type-2 .card-body img {
  display: block;
  height: 70px;
}
/* ------ Page banners ----- */
.page-banner .container {
  position: relative;
}
.page-banner-content {
}
.page-banner-content h2 {
  color: #fff;
  font-weight: 600;
}
.page-banner-content p {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.page-banner-content .txt-high-line {
  margin-bottom: 30px;
  font-size: 18px;
  display: inline-block;
  font-weight: 500;
  color: #fff;
  padding: 15px;
  border-radius: 25px;
  background-color: var(--fb-color-sec);
  background-image: linear-gradient(90deg, var(--fb-color-sec) 0%, rgb(103 0 153) 98.24%);
}
.banr-list{
  list-style: none;
}
.banr-list li{
  color: #eee;
  line-height: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  position: relative;
}
.banr-list li i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 16px;
    color: var(--fb-color-sec);
}

.course-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.course-rating .rating-txt {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
}
.course-rating .rating-icon {
  margin-right: 20px;
}
.course-rating .rating-icon i {
  color: #f1b006;
  font-size: 12px;
}
.course-rating .rating-number {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}

.course-package {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.course-package .packages {
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.course-package .packages:last-child {
  position: relative;
  padding-left: 30px;
}
.course-package .packages:last-child:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 70%;
  background-color: rgb(238 238 238 / 65%);
  transform: translateY(-50%);
}
.course-package .packages h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.course-package .packages span {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.course-bn-img img{
  width: 100%;
  display: block;
  box-shadow: 0 0 15px #000;
  margin-bottom: 50px;
}
/* ========= Course short details ======== */
.side-nav-tab{
  position: sticky;
  top:70px;
}
.side-nav-tab .side_nav{
  list-style: none;
  padding: 0;
}
.side-nav-tab .side_nav li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #292929;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 15px 20px 15px 32px;
    background-color: var(--bg-light);
}
.side-nav-tab .side_nav li.active-side-nav a{
  background-color: var(--fb-color-prim);
  color: #fff;
}
.side-nav-tab .side_nav li.active-side-nav a:after{
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  border-width: 5px;
  border-color: transparent transparent transparent var(--fb-color-prim);
  border-style: solid;
  transform: translateY(-50%);
}
.courses-content h3 {
    font-weight: 600;
    margin-bottom: 20px;
}
.course-short-details {
  position: absolute;
  left: 0;
  bottom: -55px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 35px 15px;
  box-shadow: 0px 0px 10px rgb(17 121 239 / 10%);
  border: 1px solid #e9f2ff;
}
.course-short-box {
  position: relative;
}
.course-short-box:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}
.course-short-box:last-child:after {
  display: none;
}
.course-short-txt span {
  font-size: 14px;
}

.courses-details-list{
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
}

.courses-details-content{
  position:relative;
  padding-bottom: 40px;
  padding-left: 20px;
}
.courses-details-content:before{
  content: "";
  position: absolute;
  left: -4px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(243 233 247);
}
.courses-details-content:after{
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 2px;
  height: 100%;
  background-color: rgb(243 233 247);
}
.courses-details-content:last-child:after{
  display: none;
}

.courses-content p, .courses-details-content p{
  font-size: 14px;
  line-height: 20px;
}
.list-course-txt{
  padding: 0 0 0 15px;
  margin: 0;
}
.list-course-txt li{
  list-style-type: none;
  padding-bottom:10px;
  position: relative;
  padding: 0 0 12px 22px;
  font-size: 14px;
  line-height: 20px;
}
.list-course-txt li i{
  position: absolute;
  left: 0;
  top: 0px;
  font-size: 16px;
  color: var(--fb-color-prim);
}

.course-contact-no{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
/*  box-shadow: 0px 0px 10px rgb(17 121 239 / 10%);*/
  box-shadow: 2px 4px 13px var(--shadow-color-primary);
  padding: 25px;
  margin-bottom: 30px;
}
.crs-contact-info{
  flex-grow: 1;
}
.crs-contact-info span{
  font-size: 14px;
}
.crs-contact-info p{
  font-size: 25px;
  font-weight: 300;
  padding: 10px 0;
  margin: 0;
}
.crs-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 60px;
    border-left: solid 1px #ccc;
    /* text-align: center; */
    /* line-height: 60px; */
    font-size: 26px;
    color: var(--fb-color-prim);
}

.request-more-info, .enquire-free-consulation{
  background-color: #fff;
  box-shadow: 2px 4px 13px var(--shadow-color-primary);
  padding: 25px;
  margin-bottom: 30px;
}
.request-more-info h5{
  font-size: 22px;
}
.request-form .form-groups{
  position: relative;
}
.request-form .form-groups label{
  margin-bottom: 10px;
}
.request-form .form-groups .form-control{
  
  font-size: 14px;
  border-radius: 0; 
  box-shadow: none;
  appearance: auto;
  border: solid 1px #e8e8e8;
  background-color: #f4f6f7;
  height: 40px;
  padding: 8px 10px;
}

.request-form .form-groups .form-control:focus{
  outline: none;
  border-color: #e8e8e8;
  box-shadow: none;
}
.request-form .form-groups textarea.form-control{
  height: 130px;
  resize: none;
}
.form-groups .error-inpt, .error-no{
  color: red;
  position: absolute;
  left: 12px;
  top: 100%;
  font-size: 14px;
  opacity: 0;
}
.invalid-input{
  opacity: 1 !important;
}
.active-inpt{
  display: block !important;
}
.send-request-btn{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--fb-color-prim);
  border:solid 1px var(--fb-color-prim);
  color: #fff;
}
.send-request-btn:hover{
  background-color: var(--fb-color-prim-hover);
  color: #fff;
  border:solid 1px var(--fb-color-prim-hover);
}


.enquire-free-consulation{
  margin-bottom: 30px;
  border-radius: 10px;

}
.enquire-free-consulation h5{
  font-size: 24px;
}
.enquire-free-consulation .form-groups{
  padding-top: 24px;
}
.enquire-free-consulation .form-groups .form-control{
  background-color: transparent;
  border-radius: 5px;
}
.enquire-free-consulation .form-groups .form-control:focus{
  border-color: #ccc;
}
.enquire-free-consulation .form-groups .form-label{
  position: absolute;
  left: 0;
  top: 0;
}
#enquire-consulation-mobileNo{
  padding-left: 75px;
}
.enquire-free-consulation .form-groups .error-inpt, 
.enquire-free-consulation .error-no{
  left: 0px;
  top: 97%;
}

.phone-inpt-flag{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    padding: 5px 10px;
    line-height: 34px;
    background-color: #eee;
    border-radius: 5px 0 0 5px;
}
.bnr-enry-btn{
  width: 100%;
  max-width:100%;
  margin-right: 0;
}
/* ===== Our Alumini ==== */
.our-alumin-container {
  padding-top: 30px;
}
.our-alumin-container h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
.our-alumin-companies {
  border: 1px solid #e9f2ff;
  box-shadow: 0px 2px 10px rgb(17 121 239 / 10%);
  border-radius: 4px;
  padding: 40px 40px;
  margin-top: 24px;
  min-height: 376px;
  margin-left: 0;
  margin-right: 0;
}
.companies-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 20px;
  max-height: 80px;
}
.companies-logo img {
  width: 60%;
}

/* ======= Hiring patners ====== */
.hiring-patners .carousel-inner {
  padding: 20px 5px;
}
.hiring-patners .carousel-indicators {
  bottom: -40px;
}
.hiring-patners .carousel-indicators [data-bs-target] {
  background-color: #0b62ce;
}
.hiring-patners .carousel-control-next,
.hiring-patners .carousel-control-prev {
  top: auto;
  bottom: -30px;
  color: #2196f3;
  font-size: 30px;
  width: 50px;
  z-index: 2;
}
.hiring-patners .carousel-control-prev {
  left: 472px;
}
.hiring-patners .carousel-control-next {
  right: 472px;
}
.hiring-patners-box {
  position: relative;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e9f2ff;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 10%);
  position: relative;
  padding: 24px 40px 40px 24px;
  height: 365px;
  max-height: 365px;
  z-index: 1;
}
.hiring-patners-box:after {
  width: 100%;
  content: "";
  height: 6px;
  background-color: #0a5dc9;
  background-image: linear-gradient(92deg, #128aef, #0a5dc9);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
}
.hiring-patners-box i {
  position: absolute;
  left: 12px;
  top: 18px;
  opacity: 0.1;
  z-index: -1;
  font-size: 30px;
}
.hiring-patners-box p {
  margin-top: 0;
  font-size: 16px;
  line-height: 26px;
}

.hiring-patners-box h4 {
  font-size: 16px;
  line-height: 19px;
  color: #51565e;
  margin-top: 32px;
}
.hiring-patners-box span {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #51565e;
  margin-top: 16px;
}
.hiring-patners-box img {
  display: block;
  margin-top: 20px;
  max-height: 40px;
  width: 130px;
}

/* ====== Career Growth ====== */
.career-stories .sect-content p {
  font-size: 16px;
  line-height: 26px;
}

.career-from-to {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.career-from-to .career-from h4,
.career-from-to .career-to h4 {
  font-size: 16px;
  font-weight: 400;
}
.career-from-to .center-arrow {
  padding: 6px 30px;
}
.career-from img,
.career-to img {
}

.career-slide-box {
  background-color: #fff;
  box-shadow: 2px 4px 13px rgb(17 121 239 / 10%);
  border-radius: 6px;
}

.career-user-icon {
  background-color: rgba(17, 121, 239, 0.07);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* ---- certification --- */
.certification-img{
  width: 700px;
  margin: 0 auto;
}
.certification-img img{
    background: #fff;
    padding: 0px;
    width: 100%;
    height: auto;
    box-shadow: 2px 4px 13px var(--shadow-color-primary);
}
/* ---- Review section --- */
#review-slider{
  margin-bottom: 80px;
}



/* ------ Careers section ------ */
.fb-imgs {
  display: flex;
  justify-content: flex-start;
}
.fb-imgs .imgs{
  flex-grow: 1;
  background-color: #f5f5f5;
  border-radius: 10px;
  min-height: 150px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.h-200{
  height: 200px;
}




.career-box{
  position: relative;
  padding: 20px 25px;
    background: #fff;
    box-shadow: 2px 4px 13px rgb(17 121 239 / 10%);
    margin-bottom: 40px;
}
.career-box h3{
  font-size: 20px;
  font-weight: 600;
}
.career-box p i{
  margin-right: 5px;
}
.career-box .cr-periods{
  list-style-type: none;
  padding-bottom: 15px;
}
.cr-periods li{
  display: inline-block;
  font-size: 14px;
  color: #999;
  margin-right: 10px;
}
.cr-periods li i{
  margin-right: 5px;
}
.career-box .cr-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}
.career-box .btn{
  margin-top: 20px;
}


.side-nav-tab{
  position:sticky;
  top: 70px;
}
.nav-pills .nav-link {
  background-color: #fdf8ff;
  color: black;
  font-size: 14px;
  /* margin-top: 10px; */
  border: 0;
  border-radius: 0;
  position: relative;
  transition: all 0s ease;
  margin-bottom: 20px;
}
/* .nav-pills .nav-link::after {
  content: "";
  background-color: #660099;
  position: absolute;
  right: -3px;
  top: 50%;
  opacity: 0;
  width: 12px;
  height: 12px;
  border-width: 20px;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0s ease;

} */
/* st */
.nav-pills .nav-link::after {
  content: "";
  background-color: #660099;
  position: absolute;
  right: 50%;
  bottom: -4px;
  opacity: 0;
  width: 12px;
  height: 12px;
  border-width: 20px;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0s ease;
  z-index: 1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #660099;
}
.mobile-nav-fils .nav-link.active, 
.mobile-nav-fils .show>.nav-link{
  color: #fff;
  background-color: #660099;
  width: fit-content;

}
.nav-pills .nav-link.active::after{
  opacity: 1;
} 
.mobile-nav-fils button{
  text-align: center;
}


/* ----- Request syllabus -----*/

.request-syllabus .modal-dialog{
  max-width: 45%;
}
.request-syllabus .modal-content{
  padding: 10px;
}
.request-syllabus .modal-header {
  border:0;
  position: relative;
}
.request-syllabus .modal-title{
  font-size: 22px;
}
.form-close-btn{
  position: absolute;
  top: -14px;
  right: -14px;
  background-color: #000;
  opacity: 1;
  color: #fff;
  border-radius: 50%;
  background-size: 8px;
  background-image: none;
  border:solid 2px #fff;
  padding: 5px;
}
.form-close-btn:active{
  outline: 0;
  box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/*----- popup ---- */
.popup-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgb(0 0 0 / 66%);
    display: none;
}
.show-response{
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 35%;
    z-index: 2;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgb(70 71 71 / 77%);
    
}
.popup-section.active{
    display: block !important;
}
.show-response i{
    font-size: 55px;
    margin-bottom: 20px;
    color: #8BC34A;
}
.show-response img{
  width: 80px;
}
.show-response h2{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}
.show-response p{
    font-size: 16px;
}
.success-msg, .error-msg{
  display: none;
}
.success-msg.active, 
.error-msg.active{
  display: block;
}
.download-syllabus-enroll .btn-syllabus{
  margin:10px 0 0 0;
}
.download-syllabus-enroll .btn-syllabus i{
  font-size: 16px;
  color: #fff;
}
.close-btns{
      position: absolute;
    top: -14px;
    right: -14px;
    width: 30px;
    height: 30px;
    line-height: 24px;
    text-align: center;
    background: #000;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 0;
}
.close-btns:hover{
  color: #fff;
}
/* ----- Call back enroll mobile ------- */
.callback-enroll{

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  background-color: #000;
  padding: 10px 0;
}
.callback-enroll .enroll-action{
  
  width: 50%;
  flex: 0 0 auto;
  text-align: center;
}
.enroll-action:first-child{
  border-right: solid 1px #eee;
}
.enroll-action .call-back{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  padding: 10px 15px;
}

.call-back >i{
  margin-right: 8px;
}
