@media (max-width:576px){
	.request-more-info{
		position: static;
		min-width: 100%;
		margin: 20px auto 10px;
	}
	.txt-list li{
		padding-bottom: 10px;
	}


	/*Webinar 1  ---------*/
	.web1-hdr-cnt h4{
		font-size: 14px;
	}
	.web1-hdr-cnt h1{
		font-size: 36px;
	}
	.web1-hdr-cnt p{
		margin-bottom: 40px;
		font-size: 16px;
	}
	.web1-hdr-cnt p > br{
		display: none;
	}
	.web1-hdr-cnt h3{
		font-size: 20px;
		margin-bottom: 40px;
	}
	.web1-enroll-btn .btn-txt{
		font-size: 24px;
	}
	.web1-page-title h2{
		font-size: 30px;
	}
	.web1-card6{
		max-height: initial;
	}
	.countdown-tab{
		width: 100%;
	}
	.countdown-panel{
		width: 50%;
	}
	.countdown-number{
		font-size: 40px;
	}
	.countdown-txt{
		font-size: 18px;
	}

}
@media (max-width:767px){
	.show-response{
		width: 98%;
	}
	.call-to-action .btn{
		font-size: 14px;
		padding: 10px 15px;	
	}
	.thankyou-msg h1{
		font-size: 22px;
    	line-height: 28px;
	}
}
@media (max-width: 992px){
	.web1-card6{
		max-height: initial;
	}
	p > br{
		display: none;
	}
	.countdown-tab{
		width: 100%;
	}
}

@media (min-width: 576px) and (max-width:767px){
	.request-more-info{
		position: static;
		min-width: 24rem;
		max-width: 30rem;
		margin:20px auto 10px;
	}
	.txt-list li{
		padding-bottom: 10px;
	}
	
	.web1-hdr-cnt h1{
		font-size: 40px;
	}
	.web1-enroll-btn .btn-txt{
		font-size: 26px;
	}
	.countdown-panel{
		padding: 20px 10px;
	}
	.countdown-number{
		font-size: 40px;
	}
	.countdown-txt{
		font-size: 16px;
	}
}

@media (min-width:767px) and (max-width:992px){
	.web1-hdr-cnt h1{
		font-size: 40px;
	}
	.web1-hdr-cnt h3{
		margin-bottom: 40px;
	}
	.countdown-panel{
		padding: 20px 15px;

	}
	.countdown-number{
		font-size: 50px;
	}
	.countdown-txt{
		font-size: 18px;
	}
}

@media (min-width: 992px) and (max-width:1024px){
	.countdown-tab{
		width: 80%;
	}
}

